<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
    </head>
    <body>
        <main>
            <div>
                <h1>{{ todolist.name }}</h1>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create new Item</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
                </p>
                {% comment %} <p>
                    <a href="{% url 'create_item_from_list' todolist.id %}">Create new Item</a>
                </p> {% endcomment %}



                <h2>Tasks</h2>
                <table>
                    <thead>
                        <th>Task</th>
                        <th>Due Date</th>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>
                                    <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
                                </td>
                                <td>{{ item.due_date }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>
