{% extends "base.html" %}

{% block content %}
    <div>
        <h1>My Lists</h1>
        <p>
            <a href="{% url 'todo_list_create' %}">Create a new</a>
        </p>
        <p>
            <a href="{% url 'todo_item_create' %}">Create new item</a>
        </p>
        <table>
            <thead>
                <th>Name</th>
                <th>Number of Items</th>
            </thead>
            <tbody>
                {% for list in todolists %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_detail' list.id %}">{{ list.name }}</a>
                        </td>
                        <td>{{ list.items.all | length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
